@font-face {
    font-family: "Clah Display";
    src: url(../fonts/ClashDisplay-Light.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Clah Display";
    src: url(../fonts/ClashDisplay-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Clah Display";
    src: url(../fonts/ClashDisplay-Bold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Satoshi;
    src: url(../fonts/Satoshi-Regular.woff2);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000000;
    --color-lite-gray: #f9f9f9;
    --color-dark-primary: #2a2548;
    --color-nav-links: #726e8d;

}

header {
    display: grid;
    row-gap: 20px;
    padding: 0 2vw;
    padding-top: 20px;
}

header>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 16px;
}

header>div span {
    font-family: "Clah Display";
    justify-self: center;
    font-size: 24px;
}

header>div div.icons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1vw;

}

header>div svg {
    height: 16px;
    color: var(--color-black);
}

header nav {
    justify-self: center;
}

header nav ul  {
    justify-self: center;
    display: flex;
    column-gap: 4vw;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    color: var(--color-nav-links);
    font-family: Satoshi;
    font-size: 16px;
}

header nav ul a:hover {
    color: var(--color-black);
    cursor: pointer;
    transform: all 0.7s;
}